@import url('https://fonts.googleapis.com/css2?family=Cousine:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Cousine', monospace;
}

.header {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 1rem;
}

.main__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  width: 100%;
}

.main__img {
  width: 25%;
}

.main__select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f1f1f1;
  padding: 1rem;
  line-height: 1.2rem;
  border-radius: 0.5rem;
  border: 1px solid #333;
}

#curriculos {
  margin: 0.3rem;
  padding: 0.4rem;
  width: 70%;
}

#main__btn {
  font-weight: 700;
  width: 70%;
  text-transform: uppercase;
  background-color: #333;
  color: #f1f1f1;
  padding: 0.2rem;
  border-radius: 0.2rem;
  cursor: pointer;
  font-family: 'Cousine', monospace;
}

#main__btn:hover {
  background-color: #0f075b;
  transition: all 0.1s;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 2rem;
  text-align: center;
  justify-content: center;
  width: 100vw;
  height: 3rem;
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: 1rem;
}